@model IEnumerable<UserBooksViewModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center  h-100">
            <div class="col-lg-12 col-xl-11">
                <h2 class="text-primary">Books</h2>


                @if (Model.Count() > 0)
                {
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form asp-controller="Home" asp-action="Index" class="form-row col-auto">

                            <div class="col-3">
                                <input type="text" name="bookTitle" placeholder="Enter Book Title" class="form-control" />
                            </div>
                            <div class="col-3">
                                <input type="text" name="searchString" placeholder="Enter Book Author" class="form-control" />
                            </div>
                            <div class="col-3">
                                <input type="text" name="bookGenre" placeholder="Enter Book Genre" class="form-control" />
                            </div>
                            <div class="col-2">
                                <input type="submit" value="Filter" class="btn btn-secondary form-control" />
                            </div>

                        </form>
                        <br />
                        <table class="table table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        Title
                                    </th>


                                    <th>
                                        Author
                                    </th>


                                    <th>
                                        Genre
                                    </th>
                                    <th></th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var book in Model)
                                {
                                    <tr>

                                        <td width="35%">@book.BookTitle</td>
                                        <td width="25%">@book.BookAuthor</td>
                                        <td width="20%">@book.BookGenre</td>
                                        <td width="10%">
                                            <a asp-controller="Home" asp-action="BookDetails" asp-route-Id="@book.BookId" class="btn btn-primary">More</a>
                                        </td>
                                        <td width="20%">
                                            @if (book.IsSelected == true)
                                            {
                                                <form method="post" asp-action="AddUserBook" asp-controller="Private" asp-route-Id="@book.BookId">
                                                    <input asp-for="@book.BookId" hidden />
                                                    <input type="submit" class="btn btn-secondary w-100" value="Added" />
                                                </form>
                                            }
                                            else
                                            {
                                                <form method="post" asp-action="AddUserBook" asp-controller="Private" asp-route-Id="@book.BookId">
                                                    <input asp-for="@book.BookId" hidden />
                                                    <input type="submit" class="btn btn-info" value="Add to My Books" />
                                                </form>
                                            }

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <table class="table table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Author
                                    </th>
                                    <th>
                                        Genre
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var book in Model)
                                {
                                    <tr>
                                        <td width="30%">@book.BookTitle</td>
                                        <td width="40%">@book.BookAuthor</td>
                                        <td width="40%">@book.BookGenre</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                }
                else
                {
                    <div>
                        <p>No Books yet</p>
                    </div>
                }

                <h6>
                       Total books: @Model.Count()
                </h6>
                
            </div>
        </div>
    </div>
</section>
