@model IEnumerable<Book>

@{
    ViewData["Title"] = "BookList";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">List of Books</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Book" asp-action="Create" class="btn btn-primary">Add new Book</a>
        </div>
    </div>
    <br />


    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead style="text-align:center">
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Author
                    </th>
                    <th>

                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model)
                {
                    <tr>
                        <td width="30%">@book.Title </td>
                        <td width="20%">@book.Author</td>
                        <td width="10%">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Book" asp-action="BookDetails" asp-route-Id="@book.BookId" class="btn btn-primary mx-1">More</a>
                            </div>
                        </td>
                        <td width="40%">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Book" asp-action="Update" asp-route-Id="@book.BookId" class="btn btn-success mx-1">Update</a>
                                <a asp-controller="Book" asp-action="Delete" asp-route-Id="@book.BookId" class="btn btn-danger mx-1">Delete</a>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Books yet</p>
    }
    <h6>Total books: @Model.Count()</h6>
</div>

